/* General */

* {

    margin: 0;
    padding: 0;
    background-color: #F2EEE7;
    font-family: open-sans, sans-serif;
    font-size: 62.5;


}

/* header */

.NomSite {

    display: flex;
    justify-content: center;

}

img {

    width: 30vw;
    height: 30vh;

}

/* Navbar */

.logo {

    width: 5vw;
    height: 10vh;
    margin: 8;
}

/* Body Acceuil */
.Presentation {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Experience {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: auto;
}


/* Footer */

.Footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2EEE7;
    ;

}

.footerText nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 2rem;
    white-space: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.footerText nav ul li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}

ul {
    gap: 4rem;
}

/* PageDonnerProfile */

.titreProfile {

    display: flex;
    justify-content: center;
    margin: 1rem;

}

.Profile {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;

}

.Profile .card {
    background-color: #F2EEE7; /* Couleur de fond claire (ex: gris très clair) */
    border-radius: 8px;
    border-color: #D8C48C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    padding: 1rem; /* Espace interne */
    width: auto;
    margin: 1rem auto; /* Centrage horizontal */

}

.donnerProfile {

    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    gap: 1rem;

}

.nomPrenom {

    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1;
}

.adressePays {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.5rem;
}

.modal .form-control {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #D8C48C !important;
}

.modal-title {
    text-align: center;
    width: 100%;
}

.modal-body{

    border: 1px solid #D8C48C !important;
}

.buttonProfile {

    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    margin-top: 1rem;
    justify-content: space-between;

}

.TableauClient {

    display: flex;
    justify-content: center;
    margin: 5rem;

}